{% extends "base.html" %}

{% block content %}
    <div class="container">

    <h1>this is a products page......!!!!</h1>
    
    {% for l in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product_name : {{l.product_name}}</h5>
          <p class="card-text">Product_dicription : {{l.product_dec}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Product_price : {{l.price}}</li>
          <li class="list-group-item">Product_Ratting : {{l.rating}}</li>
          <li class="list-group-item">available_quantity : {{l.available_quantity}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> <br><br><br>
      {% endfor %}
    </div>
   
   

    <!-- <p>{{products}}</p>

    
    <b>{{l}}</b>
    <b>{{l.product_name}}</b> <br>
    <b>{{l.product_dec}}</b><br>
    <b>{{l.price}}</b><br>
    <b>{{l.prouct_image}}</b><br>
    <b>{{l.rating}}</b><br>
    <b>{{l.active}}</b><br>
    <b>{{l.available_quantity}}</b><br> -->
   
  {% endblock %}