{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">

    <h1>Update product</h1>
    <form action="{% url 'update_product' product_object.id  %}" method="POST">
      {% csrf_token %}
    
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product_object.prouct_image.url}}" alt="Card image cap" style="height: 200px; width: 200px;">
        <div class="card-body">
        <h5 class="card-title">Product_name : <input name="product_name" value="{{product_object.product_name}}"></input> </h5>
          <p class="card-text">Product_Description : <textarea name="product_description"> {{product_object.product_desc}}</textarea> </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Product_price : <input name="product_price" value="{{product_object.price}}"></input></li>
          <li class="list-group-item">Product_Ratting : <input name="product_rating" value="{{product_object.rating}}"></input></li>
          <li class="list-group-item">available_quantity : <input name="product_quantity" value="{{product_object.available_quantity}}"></input></li>
        </ul>
        <button type="submit" class="btn btn-success">Update Product</button>
        <button type="button" class="btn btn-danger"><a href="{% url 'products' %}">Cancel</a></button>
        
      </div> <br><br><br>
    </div>
  </form>
   

   
  {% endblock %}